* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #1A1D23;
  --title: #F8F8F8;
  --text: #D7D7D7;
  --aboutPost: #BBBBBB;
  --morePosts: #FF57B2;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
} 

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--text);
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}